@media (max-width: 1638px){
    :root {
        --logo-font: 18px;
    }
    .logo-img{
        margin-right: 40px;
    }
    .logo-title a{
        line-height: 28px;
    }
    .search-box-header form{
        width: 265px;
    }
    .search-box-header form button{
        left: 16px;
    }
    .header-socials {
        margin-left: 40px;
        margin-right: 40px;
    }
    .banner-text-box{
        padding-right: 8%;
    }
    .banner-text{
        max-width: 82%;
        line-height: 38px;
    }
    html:lang(ka) .banner-text{
        max-width: 80%;
    }
    .right-circle {
        width: 222px;
        height: 222px;
    }
    .right-circle .circle {
        width: 222px;
        height: 222px;
    }
    .right-circle .circle .dot:after{
        left: 27px;
    }
    .offers-box{
        height: 630px;
    }
    .timeline-carousel__item-wrapper .slick-current {
        width: 1140px!important;
    }
    .timeline-carousel__item-wrapper .slick-current .offers-slider-item {
        height: 630px;
    }
    .research-img{
        height: 410px;
    }
    .offers-link-item {
        height: 420px;
    }
    .research-det-img{
        padding-left: 10%;
    }
    .members-img{
        height: 340px;
    }
    .comp-cont {
        gap: 30px;
        margin-bottom: 45px;
    }
    .favourites-result-item{
        padding: 25px 40px;
    }
     
    .register-list-item{
        height: 361px;
    }
}
@media (max-width: 1399px){
    :root {
        --logo-font: 16px;
        --banner-text: 22px;
        --padding: 70px 0;
        --padding-t: 70px;
        --padding-b: 70px;
        --slider-title: 22px;
        --title-font: 28px;
        --text-t: 18px;
    }

    .logo-img {
        width: 180px;
        height: 100px;
        margin-right: 40px;
    }
    .logo-title{
        padding-right: 30px;
    }
    .search-box-header form {
        width: 240px;
    }
    .lang{
        margin-left: 30px;
    }
    .header-socials {
        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;
    }
    .person-box .info-box{
        position: relative;
        z-index: 10;
    }
    .main-slider{
        width: 92%;
    }
    .banner-text {
        max-width: 76%;
        line-height: 38px;
    }
    .left-circle {
        width: 220px;
        height: 220px;
        top: -60px;
        left: -90px;
    }
    .left-circle .circle{
        width: 220px;
        height: 220px;
    }
    .left-circle .circle .dot:after{
        left: 31px;
    }
    .counter-items{
        gap: 50px;
    }
    .offers-box {
        height: 580px;
    }
    .timeline-carousel__item-wrapper .offers-slider-item{
        margin-top: 50px;
        height: 480px;
    }
    .timeline-carousel__item-wrapper .slick-current {
        width: 1040px!important;
    }
    .timeline-carousel__item-wrapper .slick-current .offers-slider-item {
        height: 580px;
    }
    .offers-text h2{
        line-height: 37px;
        max-height: 35px;
    }
    .offers-text{
        padding: 30px 67px 35px 45px;
    }
    .timeline-carousel__image {
        padding-right: 45px;
    }
    .left-img-box .img-text{
        padding: 30px 30px;
    }
    .research-img {
        height: 351px;
    }
    .download-pos{
        padding: 14px;
    }
    .footer-logo {
        max-width: 230px;
        height: 108px;
        margin-bottom: 45px;
    }
    .footer-socials{
        margin-bottom: 40px;
    }
    .important-title{
        margin-bottom: 40px;
    }
    .click-heart{
        right: 25px;
    }
    .footer-menu-links a{
        width: calc((100%-120px)/4);
    }
    /* About Page */

    .about-gall-item{
        height: 250px;
    }

    /* About Page */
    /* Submenu Page */
    .submenu-page-item{
        width: calc((100% / 3) - 20px );
    }
    /* Submenu page */
    /* Partners */
    .partners-item {
        width: calc((100% / 4) - 30px);
    }
    /* Partners */
    .offers-link-item {
        height: 400px;
    }
    .offers-link-item .time p{
        padding: 15px 25px;
    }
    .research-det-img {
        padding-left: 0%;
        height: 380px;
    }
    .members-img {
        height: 300px;
        padding-right: 24px;
        padding-bottom: 24px;
    }
    .member-img {
        width: calc((100% / 3) - 23px );
    }
    .member-text {
        width: calc(100% - ((100% / 3) - 23px ));
        padding-left: 15px;
    }
    .member-contact {
        gap: 60px;
        margin-bottom: 30px;
    }
    .left-contact-box{
        padding-right: 20px;
    }
    .comp-cont {
        gap: 25px;
        margin-bottom: 25px;
    }
    .left-contact-box form {
        gap: 25px 25px;
    }
    .left-contact-box form textarea{
        height: 160px;
        padding-left: 30px;
        padding-top: 20px;
    }
    .map {
        height: 494px;
        padding-left: 0px;
    }
    .comp-cont a{
        width: 100%;
    }
    .padding-row {
        padding: 0 6.5%;
    }
    .favourites-result-item {
        padding: 20px 20px;
    }
    .favourites-result-item .btns-fav-2 .view-link{
        padding: 0 10px;
        padding-left: 10px;
        font-size: 15px;
    }
    .person-info-box {
        padding: 0 8%;
    }
    .favourites-result-box{
        margin-top: 40px;
    }
}

@media (max-width: 1199px){
    :root{
        --count-font: 30px;    
        --count-text-font: 13px;
        --text-tt: 16px;
        --padding: 60px 0;
        --padding-t: 60px;
        --padding-b: 60px;
        --text-t: 18px;
        --banner-text: 20px;
        --title-font: 26px;
        --nav-fonts: 16px;
    }
    .top-header {
        padding: 20px 0;
    }
    .logo-title{
        display: none;
    }
    html:lang(ka) .join-btn a{
        font-size: 16px;
    }
    .navigation-box ul{
        gap: 30px;
    }
    .bottom-header{
        gap: 30px;
    }
    .search-box-header form {
        width: 260px;
    }
    html:lang(ka) .banner-text {
        max-width: 70%;
    }
    .about-box .text{
        margin-bottom: 40px;
    }
    .important-title{
        margin-bottom: 40px;
    }
    .important-title h1{
        line-height: 28px;
    }
    .offers-text h2 {
        line-height: 26px;
        max-height: 25px;
        margin-bottom: 14px;
    }
    .click-heart{
        right: 15px;
    }
    .counter-items .item {
        width: 140px;
        height: 140px;
    }
    .counter-items {
        gap: 35px;
    }
    .right-circle {
        width: 200px;
        height: 200px;
        top: 50px;
    }
    .right-circle .circle {
        width: 200px;
        height: 200px;
    }
    .right-circle .circle .dot:after {
        left: 18px;
    }
    .offers-box{
        height: 540px;
    }
    .slider-time .t-times{
        font-size: 16px;
        border-radius: 50px;
    }
    .timeline-carousel__item-wrapper .slick-current {
        width: 850px!important;
    }
    .timeline-carousel__item-wrapper .slick-current .offers-slider-item {
        height: 540px;
    }
    .timeline-carousel__item-wrapper .offers-slider-item {
        margin-top: 45px;
        height: 440px;
    }
    .left-img-box .img-box{
        height: 420px;
    }
    .left-img-box .img-text .text-box h2{
        margin-bottom: 12px;
    }
    .news-link-side .img-r{
        height: 180px;
    }
    .research-img {
        height: 320px;
    }
    .download-pos {
        padding: 10px;
        right: 2px;
    }
    .download-pos svg{
        height: 35px;
        width: 40px;
    }
    .research-link-side h2 {
        padding-right: 20px;
        margin-top: 18px;
        max-height: 48px;    
        margin-bottom: 12px;
    }
    .footer-logo {
        max-width: 210px;
        height: 100px;
        margin-bottom: 40px;
    }
    .footer-menu-links{
        gap: 18px 0;
    }
    .footer-menu-links a{
        width: calc((100%-120px)/3);
    }
    html:lang(ka) .create span{
        font-size: 16px;
    }
    /* About Page */
    .about-gall-item {
        width: calc((100% / 4) - 23px);
    }
    /* About Page */
    /* Submenu Page */
    .submenu-page-box {
        gap: 30px 20px;
    }
    .submenu-page-item{
        width: calc((100% / 3) - 14px );
        height: 180px;
    }
    .circle-4, .circle-5{
        left: -43%;
    }
    .circle-5 {
        left: -41%;
    }
    .dot-4:after{
        top: 130px;
        right: -11px;
    }
    .submenu-page-item span{
        font-size: 22px;
        line-height: 32px;
    }
    /* Submenu page */
    /* Partners */
    .partners-item .img {
        width: 78%;
    }
    /* Partners */
    .offers-link-item .text-box .text {
        max-height: 40px;
        line-height: 20px;
    }
    .gal-photo-item{
        height: 260px;
    }
    .gal-link-btn {
        bottom: 30px;
        left: 20px;
        width: 90%;
    }
    .gal-link-btn h2{
        margin-bottom: 30px;
    }
    .gal-link-btn a{
        padding: 9px 40px;
    }
    .youtube-icon span svg{
        width: 57px;
    }
    .research-det-img {
        padding-left: 0%;
        height: 350px;
    }
    .members-img {
        height: 270px;
        padding-right: 18px;
        padding-bottom: 24px;
    }
    .title-link{
        margin-top: 20px;
    }
    .member-contact {
        gap: 30px;
        margin-bottom: 30px;
    }
    .member-text .text{
        line-height: 24px;
    }
    .left-contact-box {
        padding-right: 10px;
    }
    .comp-cont {
        gap: 20px;
        margin-bottom: 20px;
    }
    .left-contact-box form {
        gap: 20px 20px;
    }
    .left-contact-box form input{
        height: 42px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .map{
        height: 454px;
    }
    .padding-row {
        padding: 0 3.5%;
    }
    .favourites-result-item {
        width: calc(100% / 2);
        padding: 30px 30px;
    }
    .favourites-result-item:nth-child(2n) {
        background-color: initial;
    }
    .favourites-result-item:nth-child(3n+1) {
        background-color: #F8F8F8;
    }
    .person-info-box {
        padding: 0 0%;
    }
}

@media(max-width:991px){
    :root{
        --count-font: 30px;    
        --count-text-font: 13px;
        --text-tt: 16px;
        --padding: 60px 0;
        --padding-t: 60px;
        --padding-b: 60px;
        --slider-title: 20px;
        --slider-text: 18px;
        --text-t: 18px;
        --banner-text: 18px;
        --title-font: 24px;
        --nav-fonts: 16px;
        --banner-height: 400px;
    }
    .b-r-c li:last-child {
        padding-left: 26px;
        margin-right: 0;
    }
    .b-r-c li:last-child::before {
        left: 0;
    }
    header{
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: #fff;
       
    }
    .t-header{
        border-bottom: 0;
    }
    .shadow-2{
        border-bottom: 2px solid #DEECFF;
    }
    .burger-overflow{
        overflow-x: hidden;
        width: 100%;
    }
    .burger-box {
        display: initial;
        left: -100%;
        transition: 0.4s;
        width: 100%;
        position: absolute;
        background-color: #fff;
        top: 110px;
        z-index: 991;
    }
    .burger-left{
        left: 0;
    }
    .burger-icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        cursor: pointer;
        width: fit-content;
        height: 30px;
    }
    .burger-line
    {
        width: 30px;
        height: 3px;
        background-color: #3063AA;
        border-radius: 2px;
        transition: 0.3s;
    }
    .burger-line:first-child{
        width: 20px;
        transform: translateX(10px);
    }
    
    .active-burger .burger-line:first-child{
        width: 30px;
        transform: rotate(45deg) translate(2px, 3px);
        background-color: #1B1B1B;
    }
    .active-burger .burger-line:last-child{
        width: 30px;
        transform: rotate(-45deg) translate(1px, -3px);
        background-color: #1B1B1B;
    }
    .active-burger .burger-line:nth-child(2){
        background-color: #1B1B1B;
        display: none;
    }
    
    .burger-menu{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 95px);
        padding-bottom: 40px;
        width: 100%;
    }
    .burger-logo-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .b-logo-text a{
        font-size: 16px;
        font-weight: bold;
        line-height: var(--logo-title-line);
        font-family: 'Segoe UI';
        color: #646464;
        line-height: 19px;
    }
    .b-logo-text a span{
        color: #3063AA;
    }
    .b-logo-img{
        width: 150px;
        height: 80px;
        margin-right: 40px;
    }
    .b-logo-img img{
        width: 100%;
        height: 100%;
    }
    .burger-form{
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }
    .burger-form input{
        width: 100%;
        height: 50px;
        background-color: #FBFBFB;
        outline: none;
        border: none;
        appearance: none;
        border-radius: 25px;
        padding-left: 65px;
        font-size: 18px;
        font-family: 'Calibri';
        color: #1B1B1B;
        line-height: 26px;
        border: 1px solid transparent;
    }
    .burger-form input:focus-visible{
        border: 1px solid #3063AA;
    }
    .burger-form input::placeholder{
        color: #707070;
        font-family: 'Calibri';
    }
    .burger-form button{
        background: transparent;
        border: none;
        position: absolute;
        top: 0;
        left: 20px;
        height: 100%;
    }
    .burger-menu-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .b-person-submenu{
        display: flex;
        flex-direction: column;  
    }
    .b-person-info{
        width:720px;
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }
    .b-pesron-sub-box{
        display: flex;
        flex-direction: column;
        width: 340px;
        align-items: center;
    }
    .b-pesron-sub-box li{
        list-style: none;
        width: 340px;
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .b-pesron-sub-box li p{
        margin-top: 0;
        color: #3063AA;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Calibri';
        position: relative;
        width: fit-content;
        padding-bottom: 2px;
    }
    .b-pesron-sub-box li p::after{
        content: "";
        position: absolute;
        width: 110%;
        left: -5%;
        bottom: 0;
        background-color: #1B1B1B;
        height: 2px;
        border-radius: 10px;
    }
    .b-pesron-sub-box li span{
        position: absolute;
        right: 40px;
        top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(180deg);
        transition: 0.3s;
    }
    .active-height li span{
        transform: rotate(0);
    }
    .b-person-submenu{
        margin-top: 0;
        padding-left: 10%;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
    }
    .active-height .b-person-submenu{
        max-height: 300px;
    }
    .b-person-submenu a{
        color: #1B1B1B;
        font-size: 18px;
        transition: 0.3s;
        font-family: 'Calibri';
        margin-bottom: 20px;
    }
    .b-person-submenu a:last-child{
        color: #D60000;
    }
    .b-person-submenu a:hover{
        color: #3063AA;
    }
    .burger-ul{
        margin: 0;
        padding: 0;
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 23px;
    }
    .b-li{
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .b-a{
        color: #1B1B1B;
        font-size: 18px;
        transition: 0.3s;
        font-family: 'Calibri';
        font-weight: bold;
    }
    .b-a:hover, .b-sub-child-menu a:hover{
        color: #3063AA;
    }
    .b-links .click-arrow{
        position: absolute;
        right: 40px;
        top: 8px;
        cursor: pointer;
    }
    .b-links .click-arrow span{
        transform: rotate(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    .active-submenu-ar .click-arrow span{
        transform: rotate(0);
    }
    .b-sub-child-menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin-top: 20px; */
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
        gap: 17px;
        background-color: #fff;
    }
    .active-submenu-ar .b-sub-child-menu{
        margin-top: 20px;
        max-height: 200px;
        overflow: initial;
    }
    .b-sub-child-menu a{
        font-size: 18px;
        transition: 0.5s;
        font-family: 'Calibri';
        color: #1B1B1B;
        opacity: 0;
    }
    .active-submenu-ar .b-sub-child-menu a{
        opacity: 1;
    }
    .b-li:last-child .b-a{
        color: #3063AA;
        font-weight: 400;
    }
    .burger-join-btn{
        margin-top: 40px;
    }
    .burger-join-btn a{
        font-weight: 400;
        padding: 10px 26px;
    }
    .b-log-in-box{
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .b-log-in-box a{
        font-size: 18px;
        font-weight: bold;
        color: #3063AA;
        text-transform: uppercase;
        font-family: 'Calibri';
        line-height: 19px;
    }
    .b-lang-box{
        margin-bottom: 15px;
    }
    .b-lang-box a{
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Calibri';
        color: #1B1B1B;
    }
    .b-lang-box a.lang-bold{
        font-weight: bold;
    }
    .opacity-logo{
        opacity: 0;
        transition: 0.3s;
    }
    .offerssection {
        margin-bottom: 60px;
    }
    html:lang(ka) .join-btn a, html:lang(ka) .banner-text-side span, html:lang(ka) .about-box a, html:lang(ka) .see-all, html:lang(ka) .create span, html:lang(ka) .register-btn, html:lang(ka) .submit-btn, html:lang(ka) .send-btn, html:lang(ka) .btns-fav .view-link, html:lang(ka) .offers-link-item .text-box .get-involved, html:lang(ka) .register-btn-box button{
        font-size: 16px;
    }
   
    .logo-img{
        width: 130px;
        height: 70px;
    }
    .div-left-side{
        display: none;
    }
    .b-header{
        display: none;
    }
     
    .main-slider{
        width: 100%;
        height: 400px;
    }
    .banner-text{
        max-width: 70%;
        line-height: 26px;
        max-height: 52px;
        overflow: hidden;
    }
    .about-box{
        padding: 0 3%;
    }
    .important-title {
        margin-bottom: 30px;
    }
    .about-box .text {
        margin-bottom: 30px;
    }
    .left-circle {
        width: 220px;
        height: 220px;
        top: -98px;
        left: -161px;
    }
    .right-circle {
        right: -155px;
        width: 200px;
        height: 200px;
        top: 128px;
    }
    .timeline-carousel__item-wrapper .slick-current {
        width: 700px!important;
    }
    .timeline-carousel__item-wrapper .slick-current .offers-slider-item {
        height: 460px;
    }
    .timeline-carousel__image {
        padding-right: 30px;
    }
    .timeline-carousel__item-wrapper .offers-slider-item {
        margin-top: 50px;
        height: 360px;
    }
    .offers-box {
        height: 470px;
    }
    .see-link{
        margin-top: 50px;
    }
    .slider-time .t-times{
        padding: 15px 35px;
        margin-right: 30px;
    }
    .slider-time{
        top: 35px;
        right: 40px;
    }
    .right-news{
        margin-top: 40px;
    }
    .research-img {
        height: 380px;
    }
    .research-img img {
        width: 91%;
    }
    .create{
        margin-top: 40px;
    }
    .footer-logo {
        max-width: 190px;
        height: 81px;
        margin-bottom: 30px;
    }
     /* About Page */
     .about-gallery{
        gap: 20px;
     }
     .about-gall-item {
        width: calc((100% / 4) - 15px);
        height: 220px;
    }
    .news-link-side h2{
        line-height: 24px;
        height: 48px;
        font-size: 16px;
    }
    
    /* About Page */
    /* Submenu Page */
    .submenu-page-box {
        gap: 30px 20px;
    }
    .submenu-page-item{
        width: calc((100% / 2) - 14px );
        height: 180px;
    }
    .circle-4, .circle-5{
        left: -43%;
    }
    .circle-5 {
        left: -41%;
    }
    .dot-4:after{
        top: 130px;
        right: -11px;
    }
    .submenu-page-item span{
        font-size: 20px;
        line-height: 28px;
    }
    /* Submenu page */
    /* Partners */
    .partners-box{
        gap: 30px 30px;
    }
    .partners-item {
        width: calc((100% / 4) - 23px);
    }
    .partners-item .img {
        width: 95%;
    }
    /* Partners */
    .offers-link-box{
        gap: 20px;
    }
    .offers-link-item {
        height: 350px;
        width: calc(( 100% / 2) - 10px);
    }
    .h-circle{
        width: 48px;
        height: 48px;
    }
    .h-circle img{
        width: 32px;
    }
    .h-circle .dddd{
        height: 33px;
    }
    .h-circle .dddd img{
         width: 35px;
    }
    .h-circle #unauthbutt{
        height: 29px;
    }
    .time-offers{
        right: 30px;
        top: 30px;
    }
    .offers-link-item .time p {
        padding: 12px 22px;
    }
    .offers-link-item .text-box .get-involved{
        padding: 0px 21px;
        height: 44px;
    }
    .gal-photo-item {
        width: calc((100% / 2) - 15px);
    }
    /* Album */
    .album-text{
        max-height: 74px;
        margin-bottom: 40px;
        line-height: 24px;
    }
    .gallery-item{
        height: 250px;
    }
    /* Album */
    /* News det */
    .news-det-box{
        padding-right: 0;
    }
    .n-title-box h2{
        font-size: 16px;
        line-height: 24px;
        width: 70%;
        max-height: 72px;
        overflow: hidden;
    }
    .activebutton, .favoritesbut{
        padding: 7px 11px;
    }
    .activebutton svg, .favoritesbut svg {
        margin-right: 6px;
        height: 27px;
    }
    .news-link-side .text{
        height: 65px;
        line-height: 22px;
    }
    .right-t  span  svg{
        height: 27px;
    }
    .right-t.block span  svg{
        height: 27px;
    }
    .r-other-news{
        gap: 30px;
    }
    .news-fancy-item {
        width: calc((100% / 2) - 0px);
        height: 193px;
        margin-top: 30px;
    }
     
    .share-box{
        margin-top: 30px;
    }
    .n-item2 {
        width: calc((100% / 3) - 20px);
    }
    /* News det  */
    /* search */
    .search-form-box{
        max-width: 720px;
        margin: 0 auto;
    }
    .search-form{
        width: 100%;
        padding: 0 12px;
    }
    .search-form form{
        padding: 0;
    }
    .search-form form input{
        width: 100%;
    }
    .offers-link-item .text-box{
        width: 85%;
    }
    /* search */
    /* publications-det */
    .research-det-img {
        padding-left: 0%;
        height: 330px;
    }
    /* publications-det */
    /* Team */
    .members-item {
        width: calc((100% / 3) - 20px);
    }
    /* Team */
    .member-contact{
        flex-wrap: wrap;
    }
    .flex-column{
        width: 100%;
    }
    .member-contact {
        gap: 25px;
        margin-bottom: 25px;
    }
    .flex-column h2{
        line-height: 26px;
    }
    .members-img{
        height: 250px;
    }
    .member-info{
        gap: 15px;
    }
    .linkd-link, .em-link{
        gap: 10px;
    }
    .padding-row{
        padding: 0;
    }
    .left-contact-box {
        padding-right: 0;
    }
    .favourites-result-item {
        width: calc(100% / 2);
        padding: 30px 15px;
    }
    .favourites-result-item .btns-fav{
        gap: 20px;
    }
    .fav-click-box-2{
        width: 150px;
    }
    .favourites-result-box{
        margin-top: 40px;
    }
    .personal-info-top{
        margin-bottom: 40px;
    }
    .person-form{
        gap: 30px 30px;
    }
    .p-input-item {
        width: calc((100% / 2) - 15px );
    }
    .favourites-result-item h2{
        height: 45px;
        line-height: 22px;
        font-size: 16px;
    }
    .favourites-result-item .event-link{
        margin-bottom: 22px;
    }
    .register-list-item {
        height: 337px;
    }
    /* offers-det */
    .news-fancy-gallery2 .news-fancy-item {
        width: calc((100% / 3) - 0px);
        margin-top: 30px;
    }
    .offers-register {
        margin-top: 40px;
    }
    .background-trans{
        background-color: transparent;
    }
    .v-register{
        width: calc((100% / 2) - 20px);
    }
    .offers-register-box form{
        gap: 30px 0;
    }
    .offers-det-boxs {
        margin-bottom: 50px;
    }
    /* offers-det */
}
@media(max-width:767px){
    :root{
        --count-font: 30px;    
        --count-text-font: 13px;
        --text-tt: 16px;
        --padding: 40px 0;
        --padding-t: 40px;
        --padding-b: 40px;
        --slider-title: 18px;
        --slider-text: 16px;
        --text-t: 18px;
        --banner-text: 18px;
        --title-font: 22px;
        --nav-fonts: 16px;
        --banner-height: 400px;
        --about-text: 18px;
        --pagination-font: 14px;
        --brc-font: 12px;
    }
    .offerssection {
        margin-bottom: 40px;
    }
    html:lang(ka) .join-btn a, html:lang(ka) .banner-text-side span, html:lang(ka) .about-box a, html:lang(ka) .see-all, html:lang(ka) .create span, html:lang(ka) .register-btn, html:lang(ka) .submit-btn, html:lang(ka) .send-btn, html:lang(ka) .btns-fav .view-link, html:lang(ka) .offers-link-item .text-box .get-involved, html:lang(ka) .register-btn-box button {
        font-size: 14px;
    }
    .banner-text-box {
        padding: 20px 4%;
        height: initial;
    }
    .banner-text-side{
        flex-direction: column;
        justify-content: initial;
    }
    .banner-text {
        max-width: 90%;
        margin-bottom: 20px;
    }
    html:lang(ka) .banner-text {
        max-width: 90%;
    }
    .banner-text-side span{
        padding: 10px 28px;
    }
    .about-box{
        padding: 0;
    }
    .about-box a{
        padding: 10px 28px;
    }
    .about-box .text{
        line-height: 28px;
    }
    .counter-items .item {
        width: 164px;
        height: 164px;
    }
    .counter-items {
        gap: 30px;
        flex-wrap: wrap;
    }
    .pp-2{
        padding: 130px 0;
    }
    .left-circle{
        top: -50px;
        left: -110px;
    }
    .right-circle{
        bottom: -50px;
        top: initial;
        right: -85px;
    }
    .timeline-carousel__item-wrapper .slick-current {
        width: 520px!important;
    }
    .timeline-carousel__item-wrapper .slick-current .offers-slider-item {
        height: 380px;
    }
    .timeline-carousel__image {
        padding-right: 20px;
    }
    .timeline-carousel__item-wrapper .offers-slider-item {
        margin-top: 40px;
        height: 300px;
    }
    .offers-box {
        height: 386px;
    }
    .slider-time .t-times {
        padding: 10px 28px;
        margin-right: 20px;
        font-size: 14px;
    }
    .slider-time {
        top: 25px;
        right: 30px;
    }
    .slider-click-h   {
        width: 52px;
        height: 52px;
    }
     
    .guestpop{
        padding: 8px 6px 5px 6px;
    }
    .offers-text {
        padding: 20px 30px 20px 30px;
    }
    .offers-text h2{
        margin-bottom: 10px;
    }
    .offers-text .text{
        line-height: 22px;
        max-height: 44px;
    }
    .research-img {
        height: 320px;
    }
    .research-img img {
        width: 88%;
    }
    .gap-flex {
        gap: 30px 0;
    }
    .contact-links{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .address{
        width: 100%;
    }
    .company-contact{
        width: 100%;
        margin-left: 0;
    }
    .footer-socials{
        margin-bottom: 30px;
    }
    .create{
        margin-top: 30px;
        flex-direction: column;
    }
    /* About page */

    .about-gallery {
        gap: 20px 12px;
        justify-content: center;
        align-items: center;
    }
    .about-gall-item {
        width: calc((100% / 3) - 8px);
        height: 126px;
    }
    .about-news-links {
        gap: 20px 15px;
    }
    .n-item2 {
        width: calc((100% / 2) - 8px);
    }
    .pagination {
        margin-top: 30px;
    }
    .pagination li {
        margin-right: 12px;
    }
    .pagination li a{
        margin: 0 7px;
    }
    /* About page */
    .b-r-c{
        padding: 6px 0;
        padding-right: 15px;
        padding-bottom: 9px;
        padding-left: 10px;
    }
    .b-r-c li{
        margin-right: 38px;
    }
    .b-r-c li a span svg{
        height: 20px;
        width: 24px;
    }
    .b-r-c li:before{
        top: 14px;
        left: -22px;
    }
    /* Submenu Page */
    .submenu-page-box {
        gap: 30px 20px;
    }
    .submenu-page-item{
        width: calc((100% / 1) - 0px );
        height: 180px;
    }
    .circle-4, .circle-5 {
        left: -28%;
    }
    .circle-5 {
        left: -27%;
    }
 
    /* Submenu page */
     /* Partners */
    
    .partners-item {
        width: calc((100% / 2) - 15px);
    }
    .partners-item .img {
        width: 80%;
    }
    /* Partners */
    .offers-link-item {
        height: 350px;
        width: calc(( 100% / 1) - 0px);
    }
    .gal-photo-item {
        width: calc((100% / 1) - 0px);
    }
     /* Album */
     .album-text{
        margin-bottom: 30px;
    }
    .gallery-box {
        gap: 20px 20px;
    }
    .gallery-item{
        height: 190px;
        width: calc((100% / 3) - 14px );
    }
    /* Album */
    /* News det */
    .hidden-important-title2{
        display: none;
    }
    .img-l-h{
        display: none;
    }
    .hidden-img{
        display: block;
    }
    .n-title-box{
        margin-top: 25px;
    }
    .n-title-box h2{
        max-height: 45px;
        overflow: hidden;
        line-height: 22px;
    }
    .hidden-title{
        display: none;
    }
    .hidden-title-3{
        display: flex;
        margin-top: 30px;
    }
    .r-other-news {
        gap: 20px;
        flex-direction: initial;
    }
    .n-item3{
        width: calc((100% / 2) - 10px)
    }
    
    .news-det-page {
        overflow-x: hidden;
    }
    .fancy-slider-2{
        width: 130%;
    }
    .news-fancy-item{
        width: 180px;
        height: 120px;
    }
    .row-slider-2{
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    /* News det */
    .see-hidden{
        display: flex;
        width: fit-content;
        margin: 0 auto;
        margin-top: 35px;
        padding: 0!important;
    }
    .see-hidden a{
        font-size: 12px;
        padding: 10px 30px;
        font-weight: bold;
        line-height: 14px;
        font-family: 'Calibri';
        color: #1B1B1B;
    }
    .see-hidden:hover a{
        color: #fff;
    }
    /* search */
    .search-form-box{
        max-width: 540px;
        margin: 0 auto;
    }
    .result-item {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    /* search */
    /* Video */
    .youtube-icon span svg{
        width: 57px;
        height: 40px;
    }
    /* Video */
      /* publications-det */
      .row-reverse-col-2{
        flex-direction: column-reverse;
      }
      .research-det-img {
        padding-left: 0%;
        height: 514px;
        margin-bottom: 30px;
    }
    /* publications-det */
      /* Team */
      .members-item {
        width: calc((100% / 2) - 15px);
    }
    .member-info{
        flex-direction: column;
    }
    .member-img {
        width: 100%;
    }
    .member-text{
        width: 100%;
        padding-left: 0;    
    }
   .member-img .members-img {
        height: 343px;
    }
    .flex-column a, .flex-column h2{
        font-size: 16px;
        line-height: 18px;
    }
    .linkd-link, .em-link{
        gap: 15px;
    }
    .linkd-link h3, .em-link h3{
        font-size: 14px;
        line-height: 16px;
    }
    .member-contact {
        gap: 20px;
        margin-bottom: 25px;
    }
    .linkd-link span, .em-link span{
        width: 45px;
        height: 45px;
    }
    .linkd-link span svg, .em-link span svg{
        width: 25px;
        height: 25px;
    }
    .member-text .text {
        line-height: 18px;
        font-size: 14px;
    }
    /* Team */
    .map{
        margin-top: 30px;
    }
    .submit-box{
        margin-top: 0;
    }
    .favourites-result-item{
        width: 100%;
        height: initial;
    }
    .favourites-result-item:nth-child(3n+1) {
        background-color: initial;
    }
    .favourites-result-item:nth-child(odd) {
        background-color: #F8F8F8;
    }
    .search-form{
        padding: 0 17px;
    }
    .personal-info-top {
        margin-bottom: 30px;
    }
    .personal-info-top h1{
        font-size: 16px;
    }
    .r-r-info{
        gap: 30px;
    }
    .r-r-info h3{
        font-size: 14px;
    }
    .r-r-info h4{
        font-size: 14px;
    }
    .p-input-item label{
        font-size: 16px;
    }
    /* offers-det */
    .l-img{
        height: 260px;
        width: 100%;
    }
    .l-img img{
        width: 100%;
        height: 100%;
    }
    .news-fancy-gallery2 .news-fancy-item {
        width: calc((100% / 3) - 14px);
        margin-top: 25px;
        height: 190px;
    }
    .gap-offers {
        gap: 0 20px;
    }
    .offers-det-boxs {
        margin-bottom: 50px;
    }
    #upload-btn span svg{
        height: 40px;
        width: 33px;
    }
    #text{
        margin-left: 10px;
        font-size: 14px;
    }
    .download-file{
        left: 40.5%;
    }
    /* offers-det */
}


@media(max-width:575px){
    :root{
        --count-font: 34px;    
        --count-text-font: 14px;
        --text-tt: 16px;
        --padding: 35px 0;
        --padding-t: 35px;
        --padding-b: 35px;
        --slider-title: 12px;
        --slider-text: 12px;
        --text-t: 18px;
        --banner-text: 14px;
        --title-font: 22px;
        --nav-fonts: 16px;
        --banner-height: 219px;
        --about-text: 14px;
        --banner-raed-more: 12px;
        --title-font: 16px;
        --read-more: 12px;
        --see-all: 12px;
        --text-tt: 12px;
    }
    .burger-box{
        top: 98px;
    }
    .b-logo-img{
        width: 115px;
        height: 59px;
        margin-right: initial;
    }
    .b-person-submenu{
        margin-bottom: 20px;
    }
    .b-pesron-sub-box li p, .b-person-submenu a, .b-a, .b-sub-child-menu a, .b-log-in-box a{
        margin: 0;
        font-size: 16px;
    }
    .b-logo-text{
        max-width: 183px;
    }
    .offerssection {
        margin-bottom: 35px;
    }
    .logo-img {
        width: 115px;
        height: 59px;
        margin-right: 0;
    }
    .main-slider{
        height: 341px;
    }
    .banner-text {
        max-width: 80%;
        margin-bottom: 14px;
        line-height: 20px;
        max-height: 38px;
    }
    .banner-text-side span {
        padding: 8px 22px;
        line-height: 14px;
    }
    .important-title {
        margin-bottom: 20px;
    }
    .important-title h1 {
        line-height: 18px;
        max-height: 36px;
        padding:  0 20px;
    }
    .about-box .text {
        line-height: 22px;
        margin-bottom: 25px;
    }
    .about-box a{
        line-height: 14px;
        padding: 11px 23px;
    }
    .banner-text-box {
        padding: 18px 4%;
        height: initial;
    }
    .counter-items{
        gap: 18px 15px;
    }

    .left-circle .circle .dot:after {
        left: 43px;
        width: 30px;
        height: 30px;
    }
    .right-circle .circle .dot:after {
        left: 28px;
        width: 30px;
        height: 30px;
    }
    .pp-2{
        padding-top: 130px;
        padding-bottom: 179px;
    }
    .left-circle {
        top: -80px;
        left: -140px;
    }

    .timeline-carousel__item-wrapper .slick-current {
        width: 336px!important;
    }
    .timeline-carousel__item-wrapper .slick-current .offers-slider-item {
        height: 188px;
    }
    .timeline-carousel__image {
        padding-right: 30px;
    }
    .timeline-carousel__item-wrapper .offers-slider-item {
        margin-top: 13px;
        height: 162px;
    }
    .offers-box {
        height: 195px;
    }
    .offers-text .text{
        max-height: 0;
    }
    .offers-text {
        padding: 13px 15px 13px 20px;
    }
    .offers-text h2 {
        margin-bottom: 0;
        line-height: 18px;
        max-height: 36px;
    }
    .slider-time .t-times {
        padding: 9px 14px;
        margin-right: 10px;
        font-size: 9px;
        line-height: 7px;
    }
    .slider-time {
        top: 15px;
        right: 15px;
    }
    .slider-click-h   {
        width: 30px;
        height: 30px;
    }
    .slider-click-h   a svg {
        width: 20px;
    }
    .click-heart{
        right: 8px; 
    }
    .click-heart button img, .click-heart a svg{
        width: 27px;
    }
     
    .guestpop {
        padding: 2px 4px 2px 4px;
    }
    .guestpop svg{
        height: 20px;
        width: 20px;
    }
    .see-all{
        line-height: 14px;
        padding: 10px 30px;
    }
    .left-img-box .img-box {
        height: 249px;
    }
    .time p {
        line-height: 12px;
        font-size: 9px;
        margin-left: 8px;
    }
    .h-circle{
        height: 35px;
        width: 35px;
    }
    .h-circle img{
        width: 25px;
    }
    .h-circle svg {
        height: 26px;
        width: 23px;
    }
    .h-circle .dddd {
        height: 22px;
    }
    .h-circle .dddd img {
        width: 23px;
    }
    .time{
        top: 15px;
        right: 25px;
    }
    .time span{
        margin-top: -3px;
    }
    .time span svg{
        height: 17px;
        width: 17px;
    }
    .left-img-box .img-text .text-box h2{
        font-size: 10px;
        line-height: 15px;
        max-height: 31px;
    }
    .left-img-box .img-text {
        padding: 17px 20px;
    }
    .left-img-box .img-text .text-box .text{
        line-height: 15px;
        max-height: 45px;
        font-size: 10px;
    }
    .right-news {
        margin-top: 20px;
        gap: 10px;
    }
    .right-news .news-item{
        width: calc((100% - 10px)/2);
    }
    .news-link-side .img-r {
        height: 118px;
    }
    .left-img-box .img-text .text-box h2{
        margin-bottom: 9px;
    }
    .news-link-side h2{
        line-height: 18px;
        height: 56px;
        margin-top: 10px;
        font-size: 12px;
    }
    .news-link-side .text {
        font-size: 12px;
        line-height: 18px;
        margin-top: 12px;
        height: 54px;
        margin-bottom: 15px;
    }
    .time2{
        margin-top: 16px;
    }
    .time2 .left-t span{
        margin-top: -3px;
    }
    .time2 .left-t span svg{
        width: 20px;
        height: 20px;
    }
    .time2 .left-t p{
        margin-left: 9px;
        font-size: 12px;
        line-height: 13px;
    }
    .unauthbutt svg{
        height: 27px;
        width: 25px;
    }
    .see-link {
        margin-top: 30px;
    }
    .footer-logo {
        max-width: 211px;
        height: 95px;
        margin-bottom: 22px;
    }
    .footer-contact-info h2{
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .address, .company-contact span{
        font-size: 14px;
    }
    .footer-socials {
        margin-bottom: 24px;
    }
    .footer-menu-links a{
        height: 17px;
        font-size: 14px;
    }
    .research-img {
        height: 230px;
    }
    .research-img img {
        width: 100%;
    }
    .download-pos {
        top: 195px;
        right: initial;
        width: 55px;
        height: 55px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .research-link-side h2 {
        padding-right: 0;
        line-height: 18px;
        margin-top: 26px;
        max-height: 54px;
        margin-bottom: 10px;
    }
    .h-png-22 {
        width: 22px;
        height: 19px;
    }
     /* About Page */
     .about-gall-item {
        height: 106px;
    }
    /* About Page */
    /* Submenu page */
    .submenu-page-box{
        gap: 15px 20px;
    }
    .submenu-page-item span{
        font-size: 22px;
        line-height: 30px;
    }
    .circle-4, .circle-5{
        top: -21px;
        left: -36%;
        transform: rotate(10deg);
    }
    .circle-5{
        top: -8px;
        left: -34%;
    }
    .submenu-page-item:hover .circle-4 {
        transform: rotate(-50deg);
    }
    /* Submenu page */
    .offers-link-box {
        gap: 15px;
    }
    .time-offers p{
        font-size: 12px;
    }
    .offers-link-item .time p {
        padding: 12px 31px;
        margin-right: 10px;
    }
    .time.time-offers  {
        top: 15px;
        right: 15px;
    }
    .offers-link-item{
        height: 206px;
    }
    .offers-link-item .text-box .text{
        display: none;
    }
    .offers-link-item .text-box h3{
        font-size: 12px;
        margin-bottom: 15px;
        line-height: 18px;
        max-height: 34px;
    }
    .offers-link-item .text-box {
        bottom: 15px;
        left: 15px;
        width: 92%;
    }
    .offers-link-item .text-box .get-involved{
        font-size: 12px;
        padding: 0px 13px;
        height: 35px;
        line-height: 11px;
    }
    .gal-photo-box{
        gap: 15px 30px;
    }
    .gal-photo-item {
        height: 203px;
    }
    .gal-link-btn a {
        padding: 8px 35px;
        font-size: 12px;
    }
    .gal-link-btn h2 {
        margin-bottom: 15px;
    }
    .gal-link-btn {
        bottom: 23px;
        left: 15px;
        width: 92%;
    }
     /* Album */
     .album-text{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 18px;
        max-height: 56px;
    }
    .gallery-box {
        gap: 10px 10px;
    }
    .gallery-item{
        height: 190px;
        width: calc((100% / 2) - 5px );
        height: 99px;
    }
    .b-r-c li:last-child {
        padding-left: 26px;
        margin-right: 0;
    }
    .b-r-c li:last-child::before {
        left: 0;
    }
    /* Album */
    /* News det */
    .r-other-news {
        gap: 15px;
        flex-wrap: wrap;
    }
    .n-item3 {
        width: calc((100% / 2) - 8px);
        overflow: initial;

    }
    
    .news-det-page {
        overflow-x: hidden;
    }
    .fancy-slider-2{
        width: 130%;
    }
    .news-fancy-item {
        width: 171px;
        height: 97px;
        margin-top: 20px;
        padding-right: 0;
    }
    .row-slider-2{
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 0;
        padding-right: 90px;
    }
     
    .n-title-box {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
    }
    .n-title-box h2{
        font-size: 12px;
        line-height: 18px;
        height: 36px;
        width: 100%;
    }
    .activebutton, .favoritesbut {
        position: absolute;
        bottom: -50px;
        right: 0;
        font-size: 12px;
        padding: 6px 15px;
    }
    .activebutton svg, .favoritesbut svg {
        margin-right: 6px;
        height: 18px;
        width: 17px;
    }
    .left-t svg{
        height: 19px;
        width: 19px;
    }
    .left-t p {
        margin-left: 10px;
        font-size: var(--text-tt);
        line-height: 10px;
    }
    .news-det-box .text {
       font-size: 14px;
        line-height: 18px;
        margin-top: 20px;
    }
    .share-box {
        margin-top: 25px;
        gap: 15px;
    }
    .share-box h5{
        font-size: 14px;
        line-height: 16px;
    }
    .share-box a span svg{
        height: 13px;
    }
    .share-box a {
        margin-top: -8px;
    }
    .hidden-img .l-img{
        height: 188px;
    }
    .hidden-img .l-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* news det */
    /* Search */

    .search-form-box{
        max-width: 100%;
    }
    .search-form h3 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .search-result {
        margin-top: 8px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .result-item {
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .result-item h3{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 10px;
    }
    .result-item .text {
        max-height: 91px;
        line-height: 18px;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .result-item .continue-btn{
        padding: 7px 10px;
        font-size: 12px;
    }
    /* Search */
      /* publications-det */
      .reseaches-det-box h2{
        margin-bottom: 15px;
        line-height: 18px;
      }
      .reseaches-det-box .text{
        line-height: 18px;
        margin-bottom: 25px;
        font-size: 14px;
      }
      .reseaches-det-box .span-time{
        margin-bottom: 15px;
      }
    
    .btns-fav .view-link {
        padding: 0 10px;
        padding-left: 7px;
        height: 35px;
        font-size: 12px;
    }
    .fav-fav2 .view-link svg {
        height: 20px;
        width: 22px;
    }
    .favourite-click-box a, .favourite-click-box form button{
        font-size: 12px;
    }
    .favourite-click-box svg {
        margin-right: 8px;
        width: 24px;
        height: 23px;
    }
    .favourite-click-box{
        height: 35px;
        width: fit-content;
        padding: 0 8px;
    
    }
    /* publications-det */
     /* Partners */
    .partners-box{
        gap: 30px;
    }
     .partners-item {
        width: calc((100% / 1) - 0px);
    }
     
    .partners-item .img {
        width: 58%;
        max-height: 100px;
    }
    /* Partners */
    /* Team */
    .team-members{
        gap: 25px;
    }
    .members-item {
        width: calc((100% / 1) - 0px);
    }
    .members-img {
        height: 343px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
    .title-link h4, .members-item h6, .members-item .email-link{
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .members-item .text{
        margin-top: 20px;
        line-height: 18px;
        font-size: 14px;
        height: initial;
        max-height: 56px;
    }
    /* Team */
    /* Contact */
    .comp-cont{
        padding-left: 0;
        margin-bottom: 30px;
    }
    .contact-box-item{
        width: 100%;
    }
    .left-contact-box form input{
        height: 38px;
    }
    .left-contact-box form {
        gap: 18px 20px;
    }
    .contact-box-item label{
        display: block;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;
        padding-left: 3px;
    }
    .left-contact-box form textarea {
        height: 183px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .left-contact-box form input::placeholder{
        visibility: hidden;
    }
    .submit-box{
        justify-content: center;
        margin-top: 10px;
    }
    .send-btn{
        font-size: 12px;
        height: 35px;
        padding: 0 14px;
    }
    .map {
        height: 358px;
        margin-bottom: 30px;
    }
    /* Contact */
    /* Favourite */
    .favourites-result-box {
        margin-top: 25px;
    }
    .search-result a{
        font-size: 16px;
    }
    .favourites-result-item {
        padding: 25px 20px;
    }
    .favourites-result-item h2 {
        font-size: 16px;
        line-height: 24px;
        max-height: 50px;
    }
    .favourites-result-item .event-link {
        width: 100px;
        height: 30px;
        font-size: 14px;
        margin-top: 17px;
        margin-bottom: 17px;
    }
    .favourites-result-item .favourite-time-box{
        gap: 10px;
        margin-bottom: 25px;
    }
    .favourite-time-box span svg{
        height: 26px;
    }
    .favourites-result-item .favourite-time-box h6{
        font-size: 14px;
    }
    .favourites-result-item .btns-fav-2 .view-link {
        padding: 0 10px;
        padding-left: 10px;
        font-size: 12px;
    }
    .favourites-result-item .btns-fav-2 .view-link{
        width: 100px;
    }
    .fav-click-box-2{
        width: 100px;
        height: 35px;
    }
    .fav-click-box-2 p{
        font-size: 12px;
        margin-right: 7px;
    }
    .favoritespageatag span svg{
        width: 20px;
        height: 20px;
        margin-top: -2px;
    }
    /* Favourite */
    .change-password-pop h1, .recover-password h1{
        font-size: 16px;
        margin-bottom: 25px;
    }
    .change-password-pop{
        width: 100%;
        left: 0;
        height: 448px;
        padding: 49px 60px;
    }
    .change-password-pop form, .recover-password form{
        gap: 25px;
    }
    .log-in-item label, .forgot-password-form label{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    .log-in-item input, .forgot-password-form input{
        height: 35px;
        font-size: 14px;
    }
    .password-change-btn, .login-btn, .sent-forgot-pas{
        height: 40px;
        font-size: 16px;
    }
    .active-change-password{
        position: absolute;
    }
    /* Profile */
    .personal-info-top {
        flex-wrap: wrap;
    }
    .personal-info-top h1{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .r-r-info h3{
        display: flex;
        flex-direction: column;
        text-align: inherit;
    }
    .r-r-info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }
    .personal-info-top {
        margin-bottom: 25px;
    }
    .p-input-item {
        width: calc((100% / 1) - 0px );
    }
    .p-input-item label {
        line-height: 18px;
    }
    .p-input-item input {
        font-size: 14px;
        height: 38px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .person-form {
        gap: 20px 20px;
    }
    .person-info-save {
        width: 150px;
        height: 40px;  
        font-size: 14px;
    }
    /* Profile */
    .registration-date .date a {
        width: 100px;
        height: 35px;
        font-size: 12px;
    }
    .offers-det-page {
        overflow-x: hidden;
       }
    .registration-date .date span h2, .registration-date .date span h5{
        font-size: 14px;
        line-height: 16px;
    }
   /* offers-det */
   .offers-left-t {
        flex-direction: column;
        align-items: flex-start;
    }
    .offers-left-t p{
        padding: 12px 34px;
        margin-left: 0;
    }
    .offers-left-t .share-box {
        margin-top: 22px;
        margin-left: 0;
    }
    .background-trans{
        padding: 0;
    }
    .background-trans a{
        width: 100px;
        height: 35px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -56px;
    }
    .offers-register {
        margin-top: 25px;
    }
    .register-btn, .submit-btn {
        height: 35px; 
        font-size: 12px;
        padding: 0 26px;
    }
    .offers-det-boxs {
        margin-bottom: 30px;
    }
    .v-register, .v-upload{
        width: 100%;
    }
    .offers-register-box .title {
        margin-bottom: 30px;
    }
    .valid-inputs { 
        gap: 28px;
    }
    .v-register label, .v-upload label{
        margin-bottom: 10px;
    }
    .upload-files{
        gap: 28px 0;
        flex-wrap: wrap;
    }
    .v-register input{
        height: 38px;
        padding-left: 18px;
        font-size: 14px;
    }
    .offers-register-box form{
        gap: 28px 0;
    }
     
    .v-upload input[type="file"]{
        font-size: 14px;
        border-radius: 10px;
        height: 76px;
    }
    .v-upload textarea{
        font-size: 14px;
        padding: 17px;
        border-radius: 10px;
        height: 76px;
    }
    #upload-btn{
        margin-top: 2px;
    }
    #upload-btn span svg {
        height: 32px;
        width: 27px;
    }
    #text{
        font-weight: 400;
    }
    .download-file {
        left: 41.5%;
    }
    .download-file a {
        font-size: 14px;
    }
   /* offers-det */
}